body{

  color:green;
  font-family:Verdana,Arial,Geneva,Arial Black;

  }
h1,h2{

    text-decoration:underline;
  }
  .blue{
    color:purple;
    font-size: 25px;
  }
  p.purple{
    color:blue;
    font-size 25px;
  }
