#product-overview{
    background: #ff1b68;
    border-style: solid;
    border-color:black;
    border-width: 5px;
    margin: 20px;

}

h1{
    color: white;
    font-family:'Anton', sans-serif;
    
}

.section-title{

    color:#2ddf5c;

}